/****************************************************
#####################################################
##-------------------------------------------------##
##           FOREGGES- Version 1.6.0               ##
##-------------------------------------------------##
## Copyright = globbersthemes.com- 2011            ##
## Date      = Mars 2011                           ##
## Author    = globbers                            ##
## Websites  = http://www.globbersthemes.com       ##
##                                                 ##
#####################################################
****************************************************/



.navigation ul li ul li ul {
margin-left:100px;

} 

#right h3 {
padding-top:10px;
padding-bottom:10px;

}

#users-box {
margin-top:15px;

}

#footer-bottom {
padding-top:5px;

}