body {background:url(../images/preset7/background.png) repeat scroll 0 0 #72202c;}
#s5_topmenu {background:#5d343c;	}
#s5_topbar {background:#c03e51;}
#s5_abovebodymods {background:url(../images/Shape5_Phosphorus_modsshadow.png) repeat-x scroll center top #72202c;}
#s5_belowbodymods {background:url(../images/Shape5_Phosphorus_bottommodstopshad.png) repeat-x scroll center top #72202c;}




#s5_rightcolumn div.module .s5_h3_first, #s5_rightcolumn div.module .s5_h3_first {color:#72202c;}
.module-gray .s5_h3_first, .module-white .s5_h3_first, .module-h3gradient .s5_h3_first {color:#72202c;}

